# Cooling Effect Module Draft

In [1]:
# Install the GUS framework.

import sys
!{sys.executable} -m pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple gus==0.1.7

Looking in indexes: https://test.pypi.org/simple/, https://pypi.org/simple
Requirement already satisfied: gus==0.1.7 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (0.1.7)
Requirement already satisfied: fuzzywuzzy<0.19.0,>=0.18.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (0.18.0)
Requirement already satisfied: ipython<8.0.0,>=7.27.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (7.34.0)
Requirement already satisfied: matplotlib<4.0.0,>=3.4.3 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (3.7.2)
Requirement already satisfied: mesa<0.9.0,>=0.8.9 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (0.8.9)
Requirement already satisfied: numpy<2.0.0,>=1.21.2 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (1.24.4)
Requirement already satisfied: pandas<2.0.0,>=1.3.3 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (1.5.3)
Requirement already satisfied: pytest<8.0.0,>=7.1.2 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (7.4.0)
Requirement already satisfied: seaborn<0.12.0,>=0.11.2 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from gus==0.1.7) (0.11.2)
Requirement already satisfied: setuptools>=18.5 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (68.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.19.0)
Requirement already satisfied: decorator in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (5.1.1)
Requirement already satisfied: pickleshare in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (3.0.39)
Requirement already satisfied: pygments in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (2.16.1)
Requirement already satisfied: backcall in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (4.8.0)
Requirement already satisfied: appnope in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (6.0.1)
Requirement already satisfied: click in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (8.1.7)
Requirement already satisfied: cookiecutter in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.3.0)
Requirement already satisfied: networkx in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.1)
Requirement already satisfied: tornado in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (6.3.3)
Requirement already satisfied: tqdm in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (4.66.1)
Requirement already satisfied: pytz>=2020.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.3->gus==0.1.7) (2023.3)
Requirement already satisfied: iniconfig in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (1.1.3)
Requirement already satisfied: tomli>=1.0.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (2.0.1)
Requirement already satisfied: scipy>=1.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from seaborn<0.12.0,>=0.11.2->gus==0.1.7) (1.9.3)
Requirement already satisfied: zipp>=3.1.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (3.16.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from jedi>=0.16->ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from pexpect>4.3->ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.7.0)
Requirement already satisfied: wcwidth in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.2.6)
Requirement already satisfied: six>=1.5 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (1.16.0)
Requirement already satisfied: binaryornot>=0.4.4 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (0.4.4)
Requirement already satisfied: Jinja2<4.0.0,>=2.7 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.1.2)
Requirement already satisfied: pyyaml>=5.3.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (6.0.1)
Requirement already satisfied: python-slugify>=4.0.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (8.0.1)
Requirement already satisfied: requests>=2.23.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.31.0)
Requirement already satisfied: arrow in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (1.2.3)
Requirement already satisfied: rich in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (13.5.2)
Requirement already satisfied: chardet>=3.0.2 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from binaryornot>=0.4.4->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (5.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from Jinja2<4.0.0,>=2.7->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.1.3)
Requirement already satisfied: text-unidecode>=1.3 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from python-slugify>=4.0.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2023.7.22)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from rich->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.0.0)
Requirement already satisfied: mdurl~=0.1 in /Users/jolga/python/gus/.venv/lib/python3.9/site-packages (from markdown-it-py>=2.2.0->rich->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (0.1.2)

In [2]:
import numpy as np
import pandas as pd

In [3]:
DBH=15
TH=5
TCD=4
TCDth=3

In [4]:
def compute_leaf_area_index(
    dbh,
    tree_height,
    crown_depth,
    crown_diameter,
    crown_missing=0,
    shade_factor=0.85,
):
    """The function given allometrics of a tree computes its leaf, bark and plant area indices.

    Args:
        dbh: (:obj:`float`): the diameter in cm of the trunk usually measured at 1.3m from the ground.
        tree_height: (:obj:`float`): The tree height in meters.
        crown_debth: (:obj:`float`): The vertical length of tree crown in meters.
        crown_diameter: (:obj:`float`): The horizontal length (diameter) of tree crown in meters.
        crown_missing: (:obj:`float`): The percentage loss of the crown.
        shade_factor: (:obj:`float`): The percentage of sky covered by foliage and branches.

        Shade factor, is the percentage of sky covered by foliage and branches within the perimeter of individual tree crowns,
        can vary by species from about 60% to 95% when trees are in-leaf (McPherson, 1984). The value below is set according to 
        Glasgow mean and needs to be updated per city or per tree.

    Returns:
        (:obj:`float`): It eturns the LAI.
    Note:
        The beta multipliers and the main equation is based on Nowak (1996).

    TODO:
        Parametrize beta multipliers.
    """
    loss = crown_missing
    th = tree_height
    cw = crown_diameter
    cd = crown_depth
    sf = shade_factor
    beta_0 = -4.3309
    beta_1 = 0.2942
    beta_2 = 0.7312
    beta_3 = 5.7217
    beta_4 = 0.0148

    def compute_under_canopy_area(crown_diameter):
        return pow((crown_diameter / 2), 2) * np.pi

    # Outer surface area estimate below is based on Gacka-Grzesikiewicz (1980).
    under_canopy = compute_under_canopy_area(cw)
    crown_surface = np.pi * cw * (cd + cw) / 2
    leaf_area = (1 - loss) * np.exp(
        beta_0 + beta_1 * th + beta_2 * cw + beta_3 * sf - beta_4 * crown_surface
    )
    leaf_area_index = leaf_area / under_canopy
    return leaf_area_index

In [5]:
compute_leaf_area_index(dbh=DBH, tree_height=TH, crown_diameter=TCD, crown_depth=TCDth)

5.733824472020663

In [6]:
def compute_gross_canopy_index(
    tree_height,
    crown_depth,
    crown_diameter
):
    """The function given allometrics of a tree computes an index to account shading effect immediately underneath its canopy.

    Args:
        tree_height: (:obj:`float`): The tree height in meters.
        crown_height: (:obj:`float`): The vertical length of tree crown in meters.
        crown_width: (:obj:`float`): The horizontal length (diameter) of tree crown in meters.

    Returns:
        (:obj:`float`): returns the GCI index
    Note:
        The index is based on (Zhang et.al., 2020). It accounts for the overall immediate shading effect of a tree.
        It accounts both crown diameter (tw) and the crown base height (th - ch), the distance from the ground to the start of
        the canopy.
    """
    th = tree_height
    cw = crown_diameter
    cd = crown_depth
    crown_base_height = th  - cd
    if crown_base_height < 0.1:
        crown_base_height = 0.1 
    GCI = cw / crown_base_height
    return GCI

In [7]:
compute_gross_canopy_index(tree_height = TH, crown_depth = TCDth, crown_diameter = TCD)

2.0

In [8]:
def compute_crown_volume_index(
    leaf_area_index,
    crown_canopy_index
):
    """The function given computes a composite index taking into account both leaf density and canopy shape.

    Args:
        leaf_area_indext: (:obj:`float`): The index on the leaf density per the area under the canopy.
        crown_canopy_index: (:obj:`float`): The index that accounts for the geomtric shape of the canopy relevant to shading.
        
    Returns:
        (:obj:`float`): returns the CVI index
    Note:
        The index is adopted from (Zhang et.al., 2020).
    """
    return leaf_area_index * crown_canopy_index

In [9]:
LAI = compute_leaf_area_index(DBH,TH,TCD,TCDth)
GCI = compute_gross_canopy_index(TH,TCDth,TCD)
compute_crown_volume_index(LAI,GCI)

11.547033684456904

In [10]:
df = pd.read_csv("trees_yearly.csv")
df.set_index("AgentID", inplace=True)
df.rename(columns={"Step": "year"}, inplace=True)
df.tail(20)

,year,species,dbh,height,crownH,crownW,canopy_overlap,cle,condition,dieback,biomass,seq,carbon,deroot,detrunk,mulched,burnt,coordinates
AgentID,,,,,,,,,,,,,,,,,,
153,50,decidu,30.439456,15.931190,9.125725,8.037718,0.139470,0.939746,excellent,0.000985,515.684843,20.717222,257.842422,0.0,0.0,0.012695,0.000000,"(6, 9)"
154,50,decidu,27.691566,15.133120,8.613116,7.557668,0.377894,0.844516,excellent,0.003000,416.796679,20.405725,208.398339,0.0,0.0,0.031260,0.000000,"(9, 8)"
155,50,decidu,24.806399,14.255167,8.037429,7.027223,0.509405,0.775526,excellent,0.002000,325.387001,15.288357,162.693500,0.0,0.0,0.000000,0.016269,"(9, 2)"
156,50,decidu,24.952244,14.300632,8.067451,7.054686,0.373618,0.831053,good,0.010953,329.707622,16.330511,164.853811,0.0,0.0,0.090280,0.000000,"(10, 4)"
157,50,decidu,24.461331,14.147108,7.966007,6.961970,0.483045,0.788265,excellent,0.001567,315.290348,15.263301,157.645174,0.0,0.0,0.012351,0.000000,"(4, 7)"
158,50,conifer,15.256274,9.171866,5.349862,3.472220,0.243380,0.873386,replaced,1.000000,98.620274,0.000000,49.310137,0.0,0.0,0.000000,0.000000,"(1, 5)"
159,50,decidu,19.784401,12.606888,6.943822,6.039380,0.696196,0.682728,excellent,0.004747,195.585539,10.087746,97.792769,0.0,0.0,0.023213,0.000000,"(3, 6)"
160,50,decidu,17.302682,11.721643,6.360461,5.520953,0.182742,0.917570,replaced,1.000000,144.661371,0.000000,72.330685,0.0,0.0,0.000000,0.000000,"(2, 10)"
161,50,conifer,15.965977,9.535299,5.520800,3.596589,0.114319,0.940309,excellent,0.007302,110.221784,5.618035,55.110892,0.0,0.0,0.020122,0.000000,"(13, 8)"
162,50,conifer,14.881568,8.978085,5.258773,3.406132,0.182127,0.902649,excellent,0.005831,92.800413,4.873856,46.400207,0.0,0.0,0.000000,0.013528,"(13, 3)"
163,50,conifer,13.784033,8.402949,4.988642,3.210869,0.046951,0.974531,excellent,0.001000,76.942390,4.706607,38.471195,0.0,0.0,0.001924,0.000000,"(17, 3)"
164,50,decidu,15.710165,11.122712,5.971160,5.177735,0.295393,0.852667,excellent,0.009794,116.411229,9.235695,58.205615,0.0,0.0,0.028503,0.000000,"(3, 2)"
165,50,conifer,12.741478,7.846210,4.727447,3.023058,0.035085,0.980668,excellent,0.008554,63.477364,4.182203,31.738682,0.0,0.0,0.013575,0.000000,"(0, 5)"
166,50,conifer,12.350152,7.634617,4.628251,2.951977,0.122035,0.931959,excellent,0.009002,58.814133,3.800626,29.407067,0.0,0.0,0.013236,0.000000,"(13, 6)"
167,50,decidu,12.319240,9.746540,5.103266,4.419460,0.000000,1.000000,excellent,0.001010,67.356385,7.867648,33.678193,0.0,0.0,0.001701,0.000000,"(2, 12)"
168,50,decidu,11.318872,9.308317,4.837098,4.188620,0.307545,0.836917,excellent,0.005313,55.669067,5.937846,27.834534,0.0,0.0,0.007395,0.000000,"(5, 8)"
169,50,decidu,12.240165,9.712507,5.082395,4.401332,0.163847,0.917741,excellent,0.002980,66.387401,7.189507,33.193700,0.0,0.0,0.004946,0.000000,"(2, 10)"
170,50,conifer,10.196881,6.444752,4.071138,2.555131,0.069372,0.959620,excellent,0.000094,36.809711,2.961742,18.404856,0.0,0.0,0.000087,0.000000,"(14, 5)"
171,50,conifer,10.228828,6.462722,4.079543,2.561090,0.200136,0.883662,excellent,0.005502,37.092435,2.737088,18.546217,0.0,0.0,0.005102,0.000000,"(1, 5)"
172,50,decidu,9.197756,8.316054,4.257468,3.688400,0.000000,0.560000,excellent,0.008239,34.899665,0.000000,17.449832,0.0,0.0,0.000000,0.000000,"(6, 3)"

In [11]:
t_42 = df.xs(42)
t_31 = df.xs(31)
t_31.tail()

,year,species,dbh,height,crownH,crownW,canopy_overlap,cle,condition,dieback,biomass,seq,carbon,deroot,detrunk,mulched,burnt,coordinates
AgentID,,,,,,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,0.346223,0.878366,excellent,0.003356,1568.577591,12.673916,784.288796,0.0,0.0,0.131604,0.000000,"(3, 9)"
31,47,decidu,50.255590,20.918409,11.791482,10.772873,0.348965,0.877084,excellent,0.004356,1593.544189,12.483299,796.772094,0.0,0.0,0.173537,0.000000,"(3, 9)"
31,48,decidu,50.608610,20.998100,11.822557,10.810027,0.349508,0.877037,excellent,0.005356,1618.843506,12.649659,809.421753,0.0,0.0,0.216764,0.000000,"(3, 9)"
31,49,decidu,50.947728,21.074413,11.851866,10.845337,0.350415,0.876797,excellent,0.004356,1643.355149,12.255822,821.677575,0.0,0.0,0.178962,0.000000,"(3, 9)"
31,50,decidu,51.242808,21.140629,11.876938,10.875758,0.352722,0.875722,excellent,0.005356,1664.850374,10.747613,832.425187,0.0,0.0,0.000000,0.222924,"(3, 9)"

In [12]:
t_42 = t_42[['year','species','dbh','height','crownH', 'crownW']]
t_31 = t_31[['year','species','dbh','height','crownH', 'crownW']]

In [13]:
t_31.head()

         year species        dbh     height    crownH    crownW
AgentID
31          1  decidu  10.160808   8.778266  4.523209  3.917328
31          2  decidu  11.624329   9.443938  4.918861  4.259451
31          3  decidu  13.061136  10.061116  5.297682  4.588556
31          4  decidu  14.468776  10.636331  5.659583  4.904473
31          5  decidu  15.966213  11.220819  6.034541  5.233474

In [14]:
t_31['LAI'] = t_31.apply(lambda row: compute_leaf_area_index(row['dbh'], row['height'],row['crownH'], row['crownW']), axis=1)
t_31.head()

         year species        dbh     height    crownH    crownW        LAI
AgentID
31          1  decidu  10.160808   8.778266  4.523209  3.917328  15.203610
31          2  decidu  11.624329   9.443938  4.918861  4.259451  17.459500
31          3  decidu  13.061136  10.061116  5.297682  4.588556  19.836204
31          4  decidu  14.468776  10.636331  5.659583  4.904473  22.302067
31          5  decidu  15.966213  11.220819  6.034541  5.233474  25.050609

In [15]:
t_31['GPI'] = t_31.apply(lambda row: compute_gross_canopy_index(row['height'],row['crownH'], row['crownW']), axis=1)
t_31.head()

,year,species,dbh,height,crownH,crownW,LAI,GPI
AgentID,,,,,,,,
31,1,decidu,10.160808,8.778266,4.523209,3.917328,15.203610,0.920629
31,2,decidu,11.624329,9.443938,4.918861,4.259451,17.459500,0.941299
31,3,decidu,13.061136,10.061116,5.297682,4.588556,19.836204,0.963288
31,4,decidu,14.468776,10.636331,5.659583,4.904473,22.302067,0.985478
31,5,decidu,15.966213,11.220819,6.034541,5.233474,25.050609,1.009100

In [16]:
t_31['CVI'] = t_31.apply(lambda row: compute_crown_volume_index(row['LAI'],row['GPI']), axis=1)
t_31.head()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI
AgentID,,,,,,,,,
31,1,decidu,10.160808,8.778266,4.523209,3.917328,15.203610,0.920629,13.996883
31,2,decidu,11.624329,9.443938,4.918861,4.259451,17.459500,0.941299,16.434609
31,3,decidu,13.061136,10.061116,5.297682,4.588556,19.836204,0.963288,19.107969
31,4,decidu,14.468776,10.636331,5.659583,4.904473,22.302067,0.985478,21.978188
31,5,decidu,15.966213,11.220819,6.034541,5.233474,25.050609,1.009100,25.278572

In [17]:

def compute_change(current_value, initial_value):
    """ The function to copmpute percentage change with respect to a given base value.
    """
    if initial_value == 0:
        return 0
    
    return ((current_value - initial_value) / initial_value) * 100

In [18]:
base_lai = list(t_31['LAI'])[0]
base_cvi = list(t_31['CVI'])[0]
base_gpi = list(t_31['GPI'])[0]
t_31['dLAI'] = t_31['LAI'].apply(lambda row: compute_change(row, base_lai))
t_31['dGPI'] = t_31['GPI'].apply(lambda row: compute_change(row, base_gpi))
t_31['dCVI'] = t_31['CVI'].apply(lambda row: compute_change(row, base_cvi))

In [19]:
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI
AgentID,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919

## Cooling Effect

### Calibration

In [20]:
dT_max = 0.67
m1 = 0.1
m2 = 0.75
m4 = 0.75
m5 = 0.2
T0 = 10
T1 = 18
T2 = 26
T3 = 35
T4 = 45
T5 = 50 
avg_conifer_cooling_factor = 0.66

def cooling_multiplier(T):
    if T < T0: return 0
    if T < T1: return m1 * dT_max
    if T < T2: return m2 * dT_max
    if T < T3: return dT_max
    if T < T4: return m4 * dT_max
    if T < T5: return m5 * dT_max
    return 0

def compute_cooling(canopy_change_cvi, T = 30, species = None):
        if species == 'conifer':
                species_factor = 0.6
        elif  species == 'decidu':
                species_factor = 0.9
        else:
                species_factor = 1
        return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

In [21]:
cooling_multiplier(30)

0.67

In [22]:
grid_temperature = 10
t_31['dT'] = t_31.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI,dT
AgentID,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022,0.460602
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400,0.462002
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134,0.463415
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483,0.464779
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919,0.465972

In [23]:
grid_temperature = 34
t_31['dT'] = t_31.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI,dT
AgentID,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022,4.606016
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400,4.620025
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134,4.634153
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483,4.647790
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919,4.659719

In [24]:
grid_temperature = 48
t_31['dT'] = t_31.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI,dT
AgentID,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022,0.921203
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400,0.924005
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134,0.926831
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483,0.929558
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919,0.931944

## What do we have now?

Our DataFrame now contains 25 years of data concerning more than 30,000 trees in the Songpa district of Seoul.
Each has a unique AgentID, and by taking a cross-section of the data based on that AgentID, we can examine the evolution of various characteristics of the tree agents through the years of the simulation.

At that point, we can feed these arrays into the functions for leaf area index (LAI), gross canopy index (GCI), and crown volume index (CVI). These indices can then be used to track the evolution of a given agent 

We have multi-dimensional data, by year, and also by tree_agent. We could split the data first by year, comparing 0, and the year_in_question (whichever we decide to examine), then indexing on the grid_id,

In [25]:
songpa_df = pd.read_csv("https://treesai-gus-public.s3.eu-west-3.amazonaws.com/inputs/songpa_yearly.csv")
# songpa_df = pd.read_csv("songpa_yearly.csv")
songpa_df.rename(columns={'Step': 'year'}, inplace=True)
songpa_df.set_index("AgentID", inplace=True)
songpa_df.tail(10)

,Unnamed: 0,year,species,dbh,height,crownH,crownW,canopy_overlap,cle,condition,dieback,biomass,seq,carbon,deroot,detrunk,mulched,burnt,coordinates,100_GRID_ID
AgentID,,,,,,,,,,,,,,,,,,,,
43621,945724,25,decidu,1.171978,4.133814,2.303374,2.023323,0,0.56,excellent,0.002496,0.338384,0.0,0.169192,0.0,0.0,0.0,0.0,"(2968, 2815)",112089
43622,945725,25,decidu,1.169297,4.133814,2.303374,2.023323,0,0.56,excellent,0.007161,0.336644,0.0,0.168322,0.0,0.0,0.0,0.0,"(615, 5251)",103185
43623,945726,25,decidu,1.843512,4.133814,2.303374,2.023323,0,0.56,excellent,0.008275,0.937750,0.0,0.468875,0.0,0.0,0.0,0.0,"(1986, 4644)",108125
43624,945727,25,decidu,1.581590,4.133814,2.303374,2.023323,0,0.56,excellent,0.006751,0.664248,0.0,0.332124,0.0,0.0,0.0,0.0,"(5367, 5117)",120622
43625,945728,25,decidu,1.159839,4.133814,2.303374,2.023323,0,0.56,excellent,0.000587,0.330547,0.0,0.165274,0.0,0.0,0.0,0.0,"(5266, 2769)",120644
43626,945729,25,decidu,1.294459,4.133814,2.303374,2.023323,0,0.56,excellent,0.000047,0.423203,0.0,0.211601,0.0,0.0,0.0,0.0,"(970, 5074)",104502
43627,945730,25,decidu,1.132638,4.133814,2.303374,2.023323,0,0.56,excellent,0.007452,0.313359,0.0,0.156679,0.0,0.0,0.0,0.0,"(402, 5167)",102199
43628,945731,25,decidu,1.506775,4.133814,2.303374,2.023323,0,0.56,excellent,0.008590,0.595625,0.0,0.297813,0.0,0.0,0.0,0.0,"(2385, 4602)",109771
43629,945732,25,decidu,1.226794,4.133814,2.303374,2.023323,0,0.56,excellent,0.008597,0.375043,0.0,0.187521,0.0,0.0,0.0,0.0,"(4848, 3998)",118988
43630,945733,25,decidu,1.369704,4.133814,2.303374,2.023323,0,0.56,excellent,0.003080,0.480580,0.0,0.240290,0.0,0.0,0.0,0.0,"(3193, 5252)",112725

In [26]:
N = 15 # Year in question
all_grid_ids = songpa_df['100_GRID_ID'].unique()
df_year_1 = songpa_df[songpa_df['year'] == 1]
df_year_N = songpa_df[songpa_df['year'] == N]

df_year_1.set_index('100_GRID_ID', inplace=True)
df_year_N.set_index('100_GRID_ID', inplace=True)

#TODO: Make a lookup for the temperature per grid_id
grid_temperature = 40#C

for grid in all_grid_ids:
    # Comparing this grid cell in year 1 and year N
    grid_df_1 = df_year_1.xs(grid)
    grid_df_N = df_year_N.xs(grid)
    
    # And use these to compute the change in LAI, GCI, CVI
    
    #TODO: There's surely a better way of handling this. How do the leaf area indices combine over a 100x100m grid?
    # Average the values in the LAI column
    avg_lai_1 = grid_df_1.apply(lambda row: compute_leaf_area_index(row['dbh'], row['height'],row['crownH'], row['crownW']), axis=1).mean()
    avg_gci_1 = grid_df_1.apply(lambda row: compute_gross_canopy_index(row['height'],row['crownH'], row['crownW']), axis=1).mean()
    avg_cvi_1 = compute_crown_volume_index(avg_lai_1, avg_gci_1)
    # print(avg_lai_1, avg_gci_1, avg_cvi_1)
    
    avg_lai_N = grid_df_N.apply(lambda row: compute_leaf_area_index(row['dbh'], row['height'],row['crownH'], row['crownW']), axis=1).mean()
    avg_gci_N = grid_df_N.apply(lambda row: compute_gross_canopy_index(row['height'],row['crownH'], row['crownW']), axis=1).mean()
    avg_cvi_N = compute_crown_volume_index(avg_lai_N, avg_gci_N)
    # print(avg_lai_N, avg_gci_N, avg_cvi_N)
    
    dLAI = compute_change(avg_lai_N, avg_lai_1)
    dGCI = compute_change(avg_gci_N, avg_gci_1)
    dCVI = compute_change(avg_cvi_N, avg_cvi_1)
    # print(dLAI, dGCI, dCVI)
    
    # grid_df_1["dT"] = grid_df_1.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
    species = grid_df_1['species'].unique()
    dT = compute_cooling(dCVI,T=grid_temperature, species=species[0])
    print("Cooling for cell {} is {}".format(grid, dT))

Cooling for cell 106149 is 0.24065480102077733
Cooling for cell 105491 is nan
Cooling for cell 122921 is 0.8949778624212654
Cooling for cell 102199 is 0.6609112826222353
Cooling for cell 121940 is 0.856951954342229
Cooling for cell 102536 is 0.4676495202525727
Cooling for cell 121936 is 1.0179965566582059
Cooling for cell 115026 is 1.1803326182763874
Cooling for cell 112390 is 1.0424167227982786
Cooling for cell 122621 is 0.8939150341587475
Cooling for cell 114036 is 0.7161650500805937
Cooling for cell 106806 is nan
Cooling for cell 118659 is 1.1261619765672248
Cooling for cell 101550 is 0.6475283346631495
Cooling for cell 105497 is 0.1886173142978824
Cooling for cell 120955 is 0.8198970944462024
Cooling for cell 121632 is 0.5304979037330263
Cooling for cell 120641 is 1.2604202363238628
Cooling for cell 109109 is 0.4677179884412021
Cooling for cell 118319 is 0.8826521223157231
Cooling for cell 122598 is 0.5583749262331027
Cooling for cell 113402 is 0.6484769817081313
Cooling for cell 121297 is 0.5084132695202744
Cooling for cell 121606 is 0.5782004111777613
Cooling for cell 114720 is 0.799986217099239
Cooling for cell 103191 is 1.1004483365997297
Cooling for cell 102862 is 0.7868038782642772
Cooling for cell 119975 is 1.196829730903847
Cooling for cell 116690 is 0.8609853230481196
Cooling for cell 121937 is 0.947346371921331
Cooling for cell 115712 is 0.7921953460330996
Cooling for cell 125246 is 0.608154455676484
Cooling for cell 121626 is 1.1735988784178393
Cooling for cell 116043 is 0.6530187855614163
Cooling for cell 120291 is 0.46040754097871844
Cooling for cell 113061 is 0.47213227694604054
Cooling for cell 119644 is 0.42830508181905785
Cooling for cell 116040 is 0.5947772051237891
Cooling for cell 102203 is 0.46494622945037867
Cooling for cell 101877 is nan
Cooling for cell 106807 is 0.3200105970475997

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 119643 is nan
Cooling for cell 116372 is 0.8515602546756449
Cooling for cell 115367 is 1.011500628272554
Cooling for cell 121944 is 1.0541349171725025
Cooling for cell 116370 is nan
Cooling for cell 105828 is 0.6800146033022855
Cooling for cell 115693 is nan
Cooling for cell 122267 is 0.7191956468925629
Cooling for cell 109113 is 0.6328858995109583
Cooling for cell 121299 is 0.732308738798658
Cooling for cell 102527 is 0.7646306976128737
Cooling for cell 116337 is 0.5535553272520203
Cooling for cell 102204 is 0.6949803523108281
Cooling for cell 107461 is 0.605473133225561
Cooling for cell 116014 is nan
Cooling for cell 118972 is 1.5926538655858604
Cooling for cell 122923 is 0.9342059410787507
Cooling for cell 108781 is nan
Cooling for cell 116012 is 1.0372203722745974
Cooling for cell 115352 is 0.6547097916592219
Cooling for cell 104505 is 1.0974021789287838
Cooling for cell 115340 is 2.012973483806389
Cooling for cell 110748 is 0.5436765389258925
Cooling for cell 115683 is 0.47327132817787293
Cooling for cell 119633 is 0.6392573427772532
Cooling for cell 120952 is 0.9699802359106516
Cooling for cell 117662 is 1.0014996461172296
Cooling for cell 101547 is 0.803235848849869
Cooling for cell 116991 is 1.1580803854124753
Cooling for cell 106477 is 0.21727613485597472
Cooling for cell 117663 is 0.8188590505958908
Cooling for cell 109771 is nan
Cooling for cell 110434 is 0.7862745000475571
Cooling for cell 121942 is 0.7071912103170487
Cooling for cell 122269 is 0.7142215507080208
Cooling for cell 122925 is 0.6274390083847331
Cooling for cell 122926 is 0.6979408748586947
Cooling for cell 106147 is nan
Cooling for cell 120299 is 0.9861229740688424
Cooling for cell 116039 is 0.9832174160800645
Cooling for cell 120639 is 0.6654418832385584
Cooling for cell 108136 is 0.8039887586426484

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 115351 is nan
Cooling for cell 109436 is 0.6733766239612449
Cooling for cell 111733 is 0.7482435331212388
Cooling for cell 121278 is 0.768385020788472
Cooling for cell 108786 is nan
Cooling for cell 121971 is nan
Cooling for cell 113400 is 0.417922904031818
Cooling for cell 108777 is 0.8757475612772533
Cooling for cell 107793 is 0.08860438946496756
Cooling for cell 121635 is 1.414175526755008
Cooling for cell 112737 is 1.1313979783443597
Cooling for cell 102534 is nan
Cooling for cell 109443 is 0.45332060765874216
Cooling for cell 120956 is 0.9242898131498004
Cooling for cell 109115 is 0.3723062855688444
Cooling for cell 118676 is 0.6325358627464074
Cooling for cell 123271 is nan
Cooling for cell 121300 is 0.2134100049835255
Cooling for cell 112086 is 0.6870528239406797
Cooling for cell 103844 is nan
Cooling for cell 102528 is 1.2348542675279255
Cooling for cell 107463 is nan
Cooling for cell 114696 is 0.8475835277366504
Cooling for cell 104175 is 0.26701783712421334
Cooling for cell 108124 is nan
Cooling for cell 125910 is 0.9760379661232887
Cooling for cell 101218 is 0.8034390565831914
Cooling for cell 119997 is 0.293388938512173
Cooling for cell 107790 is 0.7146091264769212
Cooling for cell 108118 is 0.9160443799624426
Cooling for cell 115671 is 0.42168958307583837

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 109106 is 0.7362127894546796
Cooling for cell 106148 is 0.4122009011134513
Cooling for cell 126891 is 0.2615729688420602
Cooling for cell 108119 is 0.34143861155393673
Cooling for cell 122284 is 0.7897345661851088
Cooling for cell 112742 is 0.7078919582466344
Cooling for cell 114699 is 0.7413286334604215
Cooling for cell 101216 is 0.8907436654529679
Cooling for cell 122271 is 0.8702725825201356
Cooling for cell 120316 is 0.7267230584773214
Cooling for cell 120968 is 0.9252071096218263
Cooling for cell 112746 is 0.9525813907597349
Cooling for cell 120637 is 1.4588485417909172
Cooling for cell 118009 is 0.9528137164124781
Cooling for cell 126236 is nan
Cooling for cell 120644 is 1.0382391569251002
Cooling for cell 109438 is 0.3369327121927121
Cooling for cell 114062 is 0.9872956662957869
Cooling for cell 115025 is 1.0936025829755356
Cooling for cell 111756 is 0.7250718168192911
Cooling for cell 103845 is nan
Cooling for cell 111077 is 0.900586529208545
Cooling for cell 112719 is 0.8724958711064748
Cooling for cell 116675 is 1.2519241894795186
Cooling for cell 107798 is 0.5121364479690239
Cooling for cell 114391 is 0.7823200249927024
Cooling for cell 119961 is 0.7287461016293981
Cooling for cell 110758 is nan
Cooling for cell 120954 is 0.8845708400595864
Cooling for cell 120315 is 0.8829632319701064
Cooling for cell 115353 is 0.3658102980235225
Cooling for cell 119962 is 0.8144058031697107
Cooling for cell 111735 is nan
Cooling for cell 121616 is 0.8541794976097754
Cooling for cell 106476 is 0.8206304542005711
Cooling for cell 115359 is 0.9923433475207443
Cooling for cell 118645 is 1.1159064086473196
Cooling for cell 110751 is 0.6463078481869009

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 107462 is nan
Cooling for cell 112403 is 0.3455723832824282
Cooling for cell 122612 is nan
Cooling for cell 117680 is 1.0115287272403166
Cooling for cell 102202 is 1.2855637557578046
Cooling for cell 117002 is 1.3197980852242364
Cooling for cell 123253 is 0.8070957267098798
Cooling for cell 115347 is 1.2175980626420517
Cooling for cell 108780 is 0.2259351912199967
Cooling for cell 121629 is 0.40731942771889085
Cooling for cell 123602 is 0.9948709656452657
Cooling for cell 122594 is 0.9555409257953709
Cooling for cell 117644 is 0.9419349664902993
Cooling for cell 108452 is 0.5080552318790763
Cooling for cell 109773 is nan
Cooling for cell 113073 is 0.3555376794264213
Cooling for cell 105158 is 1.0715928033169004
Cooling for cell 116343 is nan
Cooling for cell 106146 is 0.5341345405679531
Cooling for cell 118642 is 0.8841939755471939
Cooling for cell 107465 is 0.21323437986365934
Cooling for cell 115018 is nan
Cooling for cell 121605 is 1.0600942653738565
Cooling for cell 123911 is 0.5821043062788386
Cooling for cell 112072 is 0.3759960544949505
Cooling for cell 107802 is 0.8307477478246251
Cooling for cell 122268 is 0.8457489645536549
Cooling for cell 114719 is 0.9593078646444197
Cooling for cell 103193 is 1.0506007423689356
Cooling for cell 114717 is 0.7543446294020053
Cooling for cell 116038 is 1.3587270744103355
Cooling for cell 105489 is 0.9671920736179936
Cooling for cell 120620 is 0.5527024718328923
Cooling for cell 108450 is nan
Cooling for cell 113730 is 0.4864693097551878
Cooling for cell 116011 is 0.8585140783677099
Cooling for cell 116683 is 0.7663102527726453
Cooling for cell 115386 is 0.3554127821910832
Cooling for cell 125909 is 1.031059511202566
Cooling for cell 109124 is nan
Cooling for cell 122613 is 0.5590039979419827
Cooling for cell 121301 is 1.085142513295711

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 108120 is nan
Cooling for cell 117356 is 0.541148718316921
Cooling for cell 106145 is 0.8449317788338189
Cooling for cell 120624 is 0.9038898007136871
Cooling for cell 103520 is 1.280905860059315
Cooling for cell 111734 is 0.8172408165820106
Cooling for cell 102533 is 0.8300808705680673
Cooling for cell 121609 is 0.5179835291459317
Cooling for cell 107466 is 0.5792522890401146
Cooling for cell 114691 is 1.2824886218291507
Cooling for cell 123254 is nan
Cooling for cell 109116 is nan
Cooling for cell 120301 is 1.0466920860641697
Cooling for cell 104502 is 0.5404590219280871
Cooling for cell 101217 is 0.7393456656318248
Cooling for cell 115369 is 0.878361183458406
Cooling for cell 105817 is 0.7556483829600069
Cooling for cell 114701 is 0.9517754301219192
Cooling for cell 117334 is 0.7744943579730649
Cooling for cell 119987 is 0.8362790352339619
Cooling for cell 112745 is 0.5253365208712742
Cooling for cell 113054 is 0.8913541303095256
Cooling for cell 122288 is 1.0045017963897667
Cooling for cell 124589 is 0.5535186372119559
Cooling for cell 102863 is 0.7453681924377819
Cooling for cell 103185 is 0.8290948309366686
Cooling for cell 107138 is 0.3943502732070174
Cooling for cell 112088 is 0.6901048197891205
Cooling for cell 106489 is 0.9144839228679484
Cooling for cell 108455 is 0.7336791241896261
Cooling for cell 116361 is 0.7831840547571047
Cooling for cell 115699 is 1.3771969699131499
Cooling for cell 127545 is 1.2026134143702076
Cooling for cell 119659 is 0.9437943497074086
Cooling for cell 109122 is 1.382834898095275
Cooling for cell 121288 is 1.2013673599544403
Cooling for cell 114695 is 0.48694580031702167
Cooling for cell 120969 is 0.8374384205755018
Cooling for cell 100882 is 0.8207361506853472
Cooling for cell 108449 is 0.5418875879479144
Cooling for cell 101544 is 0.7981951462933473
Cooling for cell 102532 is 0.885005720624586
Cooling for cell 102535 is 0.9870153188281101
Cooling for cell 102207 is 0.7377956186300625
Cooling for cell 105168 is nan
Cooling for cell 118326 is 1.4914989404612988
Cooling for cell 109437 is 0.38462007259173203
Cooling for cell 115031 is 0.4615090156833052
Cooling for cell 115691 is 1.3806438802006578
Cooling for cell 114725 is 1.018363263060334
Cooling for cell 115385 is 0.6236032841536389
Cooling for cell 101875 is 0.5297625874369832
Cooling for cell 106156 is 0.8364310993365172
Cooling for cell 116357 is 0.8836258990724282
Cooling for cell 122619 is 0.9997434176687067
Cooling for cell 120981 is 1.26624939689062
Cooling for cell 109765 is 0.571830669162411
Cooling for cell 120951 is 1.0087343926269348
Cooling for cell 115010 is 2.004751218010339
Cooling for cell 118998 is 1.1743413825304587
Cooling for cell 122596 is 0.8769356366749382
Cooling for cell 111739 is 0.9498803974918185
Cooling for cell 120292 is 0.6836813789278354
Cooling for cell 102206 is 0.5210193098243728
Cooling for cell 109114 is 1.1506771587566966
Cooling for cell 115697 is 1.1171931843549412
Cooling for cell 110094 is 0.7913207665555718
Cooling for cell 118681 is 0.956337362442432
Cooling for cell 128206 is 0.9579556824886829
Cooling for cell 115677 is 0.6714222991876359
Cooling for cell 120621 is 0.6551451868265212
Cooling for cell 118644 is 0.9496568559702141
Cooling for cell 121287 is 0.8888813093906082
Cooling for cell 120297 is 1.0337347901655407
Cooling for cell 125575 is 1.2718711840304953
Cooling for cell 106478 is 0.9762886449774992
Cooling for cell 116022 is 1.0289025959870561
Cooling for cell 114057 is nan
Cooling for cell 101546 is 0.9800373976567599
Cooling for cell 124253 is 0.9468472410087884
Cooling for cell 120971 is 0.6455681443127744
Cooling for cell 115372 is 0.8177641050045578
Cooling for cell 114060 is 0.791442601026183
Cooling for cell 121610 is 0.9102993210963585
Cooling for cell 108776 is 0.7088621642272688
Cooling for cell 113377 is nan

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 114388 is 0.42376682780578756
Cooling for cell 116663 is 0.8821696005373649
Cooling for cell 114353 is 1.2769468528682448
Cooling for cell 114367 is 0.927992371513416
Cooling for cell 119642 is 1.12185646249627
Cooling for cell 117343 is 1.1987548584050083
Cooling for cell 113067 is 0.9215848067180281
Cooling for cell 105831 is 0.9000857118087437
Cooling for cell 116700 is 0.49742979702505985
Cooling for cell 121958 is 1.2741626181164307
Cooling for cell 117001 is 0.8993101740120713
Cooling for cell 103517 is nan
Cooling for cell 117665 is 1.0075525209231269
Cooling for cell 118973 is 1.0651847935453969
Cooling for cell 119306 is 1.1507131017867525
Cooling for cell 108445 is 0.615842415228393
Cooling for cell 113381 is 0.7259164726462701
Cooling for cell 121607 is 0.6937576378531786
Cooling for cell 107792 is nan
Cooling for cell 121628 is 1.30832659961597
Cooling for cell 116695 is 1.2194049330634082
Cooling for cell 110100 is 0.6543454000678357
Cooling for cell 124919 is 0.649849181473628
Cooling for cell 119959 is 1.054451518144227
Cooling for cell 119340 is 1.169974431237973
Cooling for cell 122924 is 0.5954230935369493
Cooling for cell 118648 is 1.5874826378874909
Cooling for cell 117330 is 0.8468708180481415
Cooling for cell 111428 is 0.7418352637966613
Cooling for cell 104503 is 0.15271981224057696
Cooling for cell 105820 is nan
Cooling for cell 120323 is 0.6990506662007
Cooling for cell 107801 is 0.746904926828159
Cooling for cell 115703 is 0.8247801236589493
Cooling for cell 121943 is 0.7140187512769646
Cooling for cell 110429 is nan
Cooling for cell 121613 is 0.5713823442855431
Cooling for cell 109444 is 0.2291509972258413
Cooling for cell 117987 is 0.37449672243147697
Cooling for cell 107797 is 0.9471235787285631
Cooling for cell 119639 is 1.1240120166246814
Cooling for cell 114066 is 0.7995904544200797

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 125570 is 1.14190050833783
Cooling for cell 103843 is 0.07834641734371842
Cooling for cell 107137 is nan
Cooling for cell 114031 is 1.411494831271362
Cooling for cell 121280 is 0.9991697453879325
Cooling for cell 117342 is 1.21031199008698
Cooling for cell 115717 is nan
Cooling for cell 117017 is 0.9927089037142748
Cooling for cell 103516 is nan
Cooling for cell 115355 is nan
Cooling for cell 121933 is 1.1110742335983845
Cooling for cell 104509 is 0.7798119849437904
Cooling for cell 115684 is nan
Cooling for cell 111417 is 0.8757326702861726
Cooling for cell 119317 is 0.4426664298567307
Cooling for cell 121614 is 0.5400763244027216
Cooling for cell 110097 is 0.810828371144344
Cooling for cell 108774 is 1.0139534498104426
Cooling for cell 112723 is 0.1828585275656115
Cooling for cell 107469 is 0.35907442187020955
Cooling for cell 121612 is 0.8024327486273901
Cooling for cell 106150 is 0.5411420125440454
Cooling for cell 114399 is 1.1012542854574925
Cooling for cell 122941 is 1.0240968638000654
Cooling for cell 120977 is 0.795704087055483
Cooling for cell 121306 is 0.9890931610839843
Cooling for cell 117358 is 1.1662601016645364
Cooling for cell 106475 is 1.0377686807354538
Cooling for cell 121939 is 0.7392020727972519
Cooling for cell 118018 is 0.5870970306948777
Cooling for cell 112413 is 0.555784201983495
Cooling for cell 122942 is 0.5264876697403357
Cooling for cell 120953 is 0.5863005291756228
Cooling for cell 121283 is 0.7464530758504765
Cooling for cell 115685 is 1.1297644208256585

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 105499 is 1.0228408520831578
Cooling for cell 121611 is 0.8532236418747141
Cooling for cell 114030 is 1.167104865483387
Cooling for cell 115999 is 0.6434204316259673
Cooling for cell 115339 is 2.2286125838624766
Cooling for cell 118675 is 1.4520848899532481
Cooling for cell 122944 is 1.2929956294837595
Cooling for cell 121631 is 0.9366424931693423
Cooling for cell 118005 is 0.9007892961819787
Cooling for cell 113403 is 1.1934855011742773
Cooling for cell 105162 is 0.45291914721178783
Cooling for cell 104843 is 0.7951370373862813
Cooling for cell 119988 is 0.4401294039351683
Cooling for cell 118349 is nan
Cooling for cell 116356 is 1.059445062842475
Cooling for cell 121941 is 0.9580364276459327
Cooling for cell 122949 is 0.9616465925918499
Cooling for cell 116013 is 0.6302243995822342
Cooling for cell 120642 is 0.7392525008677213
Cooling for cell 112064 is 0.6534752233438464
Cooling for cell 102865 is 0.9732108925950608
Cooling for cell 110749 is 0.36362266971761176
Cooling for cell 114059 is 0.564324998977767
Cooling for cell 114390 is 1.1460198203974161
Cooling for cell 115994 is 1.1012962605515584
Cooling for cell 122922 is 0.7673942756506913
Cooling for cell 108779 is 0.5077006671063223
Cooling for cell 107464 is nan
Cooling for cell 109767 is 0.6369049436912293
Cooling for cell 127879 is 0.5129286969147957
Cooling for cell 114389 is 0.5428877793236009
Cooling for cell 105161 is 0.44138935596271484
Cooling for cell 108123 is 0.5075090085259386
Cooling for cell 111757 is 0.47343272348022025
Cooling for cell 107132 is nan
Cooling for cell 114046 is 0.8097000945086015
Cooling for cell 119313 is 0.6009455310482078
Cooling for cell 117344 is 0.4724636006469893
Cooling for cell 122945 is 1.0767627158599968
Cooling for cell 104172 is 0.4479324338288928
Cooling for cell 106480 is 0.35826225177569676
Cooling for cell 104834 is 0.5917449873756133
Cooling for cell 116660 is nan

/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)
/var/folders/sq/279ztff55tg817zzbvzd4p0c0000gn/T/ipykernel_20331/2334204138.py:30: RuntimeWarning: invalid value encountered in sqrt
  return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

Cooling for cell 111738 is 0.48351897893739054
Cooling for cell 113706 is 0.7603870481896767
Cooling for cell 118646 is 1.0103751718734582
Cooling for cell 112417 is 0.34223574139557544
Cooling for cell 111076 is nan
Cooling for cell 109768 is 0.8706341220913751
Cooling for cell 105490 is nan
Cooling for cell 115030 is 0.5998113170037745
Cooling for cell 118328 is 0.5876022605109193
Cooling for cell 116028 is 1.181379147007222
Cooling for cell 108451 is 0.3875406649548041
Cooling for cell 107133 is 0.9033130117007652
Cooling for cell 105160 is 0.3112269604435392
Cooling for cell 119634 is 0.49324982771888287
Cooling for cell 103190 is 1.0549965706100328
Cooling for cell 101219 is nan
Cooling for cell 110419 is 0.44525861532588534
Cooling for cell 116682 is 1.0508396751691766
Cooling for cell 119646 is 0.9795972633591274
Cooling for cell 117684 is 0.5965581067538597
Cooling for cell 120296 is 0.8556160047533418

TypeError: <lambda>() got an unexpected keyword argument 'axis'