# Cooling Effect Module Draft

In [1]:
# Install the GUS framework.

import sys
!{sys.executable} -m pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple gus==0.1.7

Looking in indexes: https://test.pypi.org/simple/, https://pypi.org/simple
Requirement already satisfied: gus==0.1.7 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (0.1.7)
Requirement already satisfied: pandas<2.0.0,>=1.3.3 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (1.4.1)
Requirement already satisfied: matplotlib<4.0.0,>=3.4.3 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (3.5.1)
Requirement already satisfied: fuzzywuzzy<0.19.0,>=0.18.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (0.18.0)
Requirement already satisfied: mesa<0.9.0,>=0.8.9 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (0.8.9.1)
Requirement already satisfied: numpy<2.0.0,>=1.21.2 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (1.22.1)
Requirement already satisfied: pytest<8.0.0,>=7.1.2 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (7.2.2)
Requirement already satisfied: seaborn<0.12.0,>=0.11.2 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (0.11.2)
Requirement already satisfied: ipython<8.0.0,>=7.27.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from gus==0.1.7) (7.34.0)
Requirement already satisfied: pygments in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (2.11.2)
Requirement already satisfied: pickleshare in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.7.5)
Requirement already satisfied: pexpect>4.3 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (3.0.20)
Requirement already satisfied: backcall in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (5.1.1)
Requirement already satisfied: appnope in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (61.2.0)
Requirement already satisfied: decorator in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (5.1.1)
Requirement already satisfied: matplotlib-inline in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from jedi>=0.16->ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.8.3)
Requirement already satisfied: packaging>=20.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (9.0.1)
Requirement already satisfied: cycler>=0.10 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (2.8.2)
Requirement already satisfied: networkx in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.8.2)
Requirement already satisfied: tornado in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (6.1)
Requirement already satisfied: cookiecutter in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (1.7.3)
Requirement already satisfied: tqdm in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (4.64.0)
Requirement already satisfied: click in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from mesa<0.9.0,>=0.8.9->gus==0.1.7) (8.1.3)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.3->gus==0.1.7) (2022.1)
Requirement already satisfied: ptyprocess>=0.5 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pexpect>4.3->ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.7.0)
Requirement already satisfied: wcwidth in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython<8.0.0,>=7.27.0->gus==0.1.7) (0.2.5)
Requirement already satisfied: pluggy<2.0,>=0.12 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (1.0.0)
Requirement already satisfied: iniconfig in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (2.0.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (22.2.0)
Requirement already satisfied: tomli>=1.0.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (2.0.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from pytest<8.0.0,>=7.1.2->gus==0.1.7) (1.1.1)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.4.3->gus==0.1.7) (1.16.0)
Requirement already satisfied: scipy>=1.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from seaborn<0.12.0,>=0.11.2->gus==0.1.7) (1.7.3)
Requirement already satisfied: poyo>=0.5.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (0.5.0)
Requirement already satisfied: python-slugify>=4.0.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (6.1.2)
Requirement already satisfied: requests>=2.23.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.27.1)
Requirement already satisfied: binaryornot>=0.4.4 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (0.4.4)
Requirement already satisfied: jinja2-time>=0.2.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (0.2.0)
Requirement already satisfied: Jinja2<4.0.0,>=2.7 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.1.2)
Requirement already satisfied: chardet>=3.0.2 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from binaryornot>=0.4.4->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from Jinja2<4.0.0,>=2.7->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.1.1)
Requirement already satisfied: arrow in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from jinja2-time>=0.2.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (1.2.2)
Requirement already satisfied: text-unidecode>=1.3 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from python-slugify>=4.0.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/miniconda3/envs/SAF2/lib/python3.9/site-packages (from requests>=2.23.0->cookiecutter->mesa<0.9.0,>=0.8.9->gus==0.1.7) (2.0.12)

In [2]:
import numpy as np
import pandas as pd

In [3]:
DBH=15
TH=5
TCD=4
TCDth=3

In [4]:
def compute_leaf_area_index(
    dbh,
    tree_height,
    crown_depth,
    crown_diameter,
    crown_missing=0,
    shade_factor=0.85,
):
    """The function given allometrics of a tree computes its leaf, bark and plant area indices.

    Args:
        dbh: (:obj:`float`): the diameter in cm of the trunk usually measured at 1.3m from the ground.
        tree_height: (:obj:`float`): The tree height in meters.
        crown_debth: (:obj:`float`): The vertical length of tree crown in meters.
        crown_diameter: (:obj:`float`): The horizontal length (diameter) of tree crown in meters.
        crown_missing: (:obj:`float`): The percentage loss of the crown.
        shade_factor: (:obj:`float`): The percentage of sky covered by foliage and branches.

        Shade factor, is the percentage of sky covered by foliage and branches within the perimeter of individual tree crowns,
        can vary by species from about 60% to 95% when trees are in-leaf (McPherson, 1984). The value below is set according to 
        Glasgow mean and needs to be updated per city or per tree.

    Returns:
        (:obj:`float`): It eturns the LAI.
    Note:
        The beta multipliers and the main equation is based on Nowak (1996).

    TODO:
        Parametrize beta multipliers.
    """
    loss = crown_missing
    th = tree_height
    cw = crown_diameter
    cd = crown_depth
    sf = shade_factor
    beta_0 = -4.3309
    beta_1 = 0.2942
    beta_2 = 0.7312
    beta_3 = 5.7217
    beta_4 = 0.0148

    def compute_under_canopy_area(crown_diameter):
        return pow((crown_diameter / 2), 2) * np.pi

    # Outer surface area estimate below is based on Gacka-Grzesikiewicz (1980).
    under_canopy = compute_under_canopy_area(cw)
    crown_surface = np.pi * cw * (cd + cw) / 2
    leaf_area = (1 - loss) * np.exp(
        beta_0 + beta_1 * th + beta_2 * cw + beta_3 * sf - beta_4 * crown_surface
    )
    leaf_area_index = leaf_area / under_canopy
    return leaf_area_index

In [5]:
compute_leaf_area_index(dbh=DBH, tree_height=TH, crown_diameter=TCD, crown_depth=TCDth)

5.733824472020663

In [6]:
def compute_gross_canopy_index(
    tree_height,
    crown_depth,
    crown_diameter
):
    """The function given allometrics of a tree computes an index to account shading effect immediately underneath its canopy.

    Args:
        tree_height: (:obj:`float`): The tree height in meters.
        crown_height: (:obj:`float`): The vertical length of tree crown in meters.
        crown_width: (:obj:`float`): The horizontal length (diameter) of tree crown in meters.

    Returns:
        (:obj:`float`): returns the GCI index
    Note:
        The index is based on (Zhang et.al., 2020). It accounts for the overall immediate shading effect of a tree.
        It accounts both crown diameter (tw) and the crown base height (th - ch), the distance from the ground to the start of
        the canopy.
    """
    th = tree_height
    cw = crown_diameter
    cd = crown_depth
    crown_base_height = th  - cd
    if crown_base_height < 0.1:
        crown_base_height = 0.1 
    GCI = cw / crown_base_height
    return GCI

In [7]:
compute_gross_canopy_index(tree_height = TH, crown_depth = TCDth, crown_diameter = TCD)

2.0

In [8]:
def compute_crown_volume_index(
    leaf_area_index,
    crown_canopy_index
):
    """The function given computes a composite index taking into account both leaf density and canopy shape.

    Args:
        leaf_area_indext: (:obj:`float`): The index on the leaf density per the area under the canopy.
        crown_canopy_index: (:obj:`float`): The index that accounts for the geomtric shape of the canopy relevant to shading.
        
    Returns:
        (:obj:`float`): returns the CVI index
    Note:
        The index is adopted from (Zhang et.al., 2020).
    """
    return leaf_area_index * crown_canopy_index

In [9]:
LAI = compute_leaf_area_index(DBH,TH,TCD,TCDth)
GCI = compute_gross_canopy_index(TH,TCDth,TCD)
compute_crown_volume_index(LAI,GCI)

11.547033684456904

In [10]:
df = pd.read_csv("trees_yearly.csv")

In [11]:
df.tail()

,Step,AgentID,species,dbh,height,crownH,crownW,canopy_overlap,cle,condition,dieback,biomass,seq,carbon,deroot,detrunk,mulched,burnt,coordinates
6906,50,168,decidu,11.318872,9.308317,4.837098,4.188620,0.307545,0.836917,excellent,0.005313,55.669067,5.937846,27.834534,0.0,0.0,0.007395,0.0,"(5, 8)"
6907,50,169,decidu,12.240165,9.712507,5.082395,4.401332,0.163847,0.917741,excellent,0.002980,66.387401,7.189507,33.193700,0.0,0.0,0.004946,0.0,"(2, 10)"
6908,50,170,conifer,10.196881,6.444752,4.071138,2.555131,0.069372,0.959620,excellent,0.000094,36.809711,2.961742,18.404856,0.0,0.0,0.000087,0.0,"(14, 5)"
6909,50,171,conifer,10.228828,6.462722,4.079543,2.561090,0.200136,0.883662,excellent,0.005502,37.092435,2.737088,18.546217,0.0,0.0,0.005102,0.0,"(1, 5)"
6910,50,172,decidu,9.197756,8.316054,4.257468,3.688400,0.000000,0.560000,excellent,0.008239,34.899665,0.000000,17.449832,0.0,0.0,0.000000,0.0,"(6, 3)"

In [12]:
df.set_index("AgentID", inplace=True)
df.rename(columns={'Step': 'year'}, inplace=True)

In [13]:
df.tail()

,year,species,dbh,height,crownH,crownW,canopy_overlap,cle,condition,dieback,biomass,seq,carbon,deroot,detrunk,mulched,burnt,coordinates
AgentID,,,,,,,,,,,,,,,,,,
168,50,decidu,11.318872,9.308317,4.837098,4.188620,0.307545,0.836917,excellent,0.005313,55.669067,5.937846,27.834534,0.0,0.0,0.007395,0.0,"(5, 8)"
169,50,decidu,12.240165,9.712507,5.082395,4.401332,0.163847,0.917741,excellent,0.002980,66.387401,7.189507,33.193700,0.0,0.0,0.004946,0.0,"(2, 10)"
170,50,conifer,10.196881,6.444752,4.071138,2.555131,0.069372,0.959620,excellent,0.000094,36.809711,2.961742,18.404856,0.0,0.0,0.000087,0.0,"(14, 5)"
171,50,conifer,10.228828,6.462722,4.079543,2.561090,0.200136,0.883662,excellent,0.005502,37.092435,2.737088,18.546217,0.0,0.0,0.005102,0.0,"(1, 5)"
172,50,decidu,9.197756,8.316054,4.257468,3.688400,0.000000,0.560000,excellent,0.008239,34.899665,0.000000,17.449832,0.0,0.0,0.000000,0.0,"(6, 3)"

In [14]:
t_42 = df.xs(42)
t_31 = df.xs(31)

In [15]:
t_42 = t_42[['year','species','dbh','height','crownH', 'crownW']]
t_31 = t_31[['year','species','dbh','height','crownH', 'crownW']]

In [16]:
t_31.head()

         year species        dbh     height    crownH    crownW
AgentID
31          1  decidu  10.160808   8.778266  4.523209  3.917328
31          2  decidu  11.624329   9.443938  4.918861  4.259451
31          3  decidu  13.061136  10.061116  5.297682  4.588556
31          4  decidu  14.468776  10.636331  5.659583  4.904473
31          5  decidu  15.966213  11.220819  6.034541  5.233474

In [17]:
t_31['LAI'] = t_31.apply(lambda row: compute_leaf_area_index(row['dbh'], row['height'],row['crownH'], row['crownW']), axis=1)
t_31.head()

         year species        dbh     height    crownH    crownW        LAI
AgentID
31          1  decidu  10.160808   8.778266  4.523209  3.917328  15.203610
31          2  decidu  11.624329   9.443938  4.918861  4.259451  17.459500
31          3  decidu  13.061136  10.061116  5.297682  4.588556  19.836204
31          4  decidu  14.468776  10.636331  5.659583  4.904473  22.302067
31          5  decidu  15.966213  11.220819  6.034541  5.233474  25.050609

In [18]:
t_31['GPI'] = t_31.apply(lambda row: compute_gross_canopy_index(row['height'],row['crownH'], row['crownW']), axis=1)
t_31.head()

,year,species,dbh,height,crownH,crownW,LAI,GPI
AgentID,,,,,,,,
31,1,decidu,10.160808,8.778266,4.523209,3.917328,15.203610,0.920629
31,2,decidu,11.624329,9.443938,4.918861,4.259451,17.459500,0.941299
31,3,decidu,13.061136,10.061116,5.297682,4.588556,19.836204,0.963288
31,4,decidu,14.468776,10.636331,5.659583,4.904473,22.302067,0.985478
31,5,decidu,15.966213,11.220819,6.034541,5.233474,25.050609,1.009100

In [19]:
t_31['CVI'] = t_31.apply(lambda row: compute_crown_volume_index(row['LAI'],row['GPI']), axis=1)
t_31.head()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI
AgentID,,,,,,,,,
31,1,decidu,10.160808,8.778266,4.523209,3.917328,15.203610,0.920629,13.996883
31,2,decidu,11.624329,9.443938,4.918861,4.259451,17.459500,0.941299,16.434609
31,3,decidu,13.061136,10.061116,5.297682,4.588556,19.836204,0.963288,19.107969
31,4,decidu,14.468776,10.636331,5.659583,4.904473,22.302067,0.985478,21.978188
31,5,decidu,15.966213,11.220819,6.034541,5.233474,25.050609,1.009100,25.278572

In [20]:

def compute_change(current_value, initial_value):
    """ The function to copmpute percentage change with respect to a given base value.
    """
    if initial_value == 0:
        return 0
    
    return ((current_value - initial_value) / initial_value) * 100

In [21]:
base_lai = list(t_31['LAI'])[0]
base_cvi = list(t_31['CVI'])[0]
base_gpi = list(t_31['GPI'])[0]
t_31['dLAI'] = t_31['LAI'].apply(lambda row: compute_change(row, base_lai))
t_31['dGPI'] = t_31['GPI'].apply(lambda row: compute_change(row, base_gpi))
t_31['dCVI'] = t_31['CVI'].apply(lambda row: compute_change(row, base_cvi))

In [22]:
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI
AgentID,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919

## Cooling Effect

### Calibration

In [23]:
dT_max = 0.67
m1 = 0.1
m2 = 0.75
m4 = 0.75
m5 = 0.2
T0 = 10
T1 = 18
T2 = 26
T3 = 35
T4 = 45
T5 = 50 
avg_conifer_cooling_factor = 0.66

def cooling_multiplier(T):
    if T < T0: return 0
    if T < T1: return m1 * dT_max
    if T < T2: return m2 * dT_max
    if T < T3: return dT_max
    if T < T4: return m4 * dT_max
    if T < T5: return m5 * dT_max
    return 0

def compute_cooling(canopy_change_cvi, T = 30, species = None):
        if species == 'conifer':
                species_factor = 0.6
        elif  species == 'decidu':
                species_factor = 0.9
        else:
                species_factor = 1
        return species_factor * np.sqrt(canopy_change_cvi/10) * cooling_multiplier(T)

In [24]:
cooling_multiplier(30)

0.67

In [25]:
grid_temperature = 10
t_31['dT'] = t_31.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI,dT
AgentID,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022,0.460602
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400,0.462002
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134,0.463415
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483,0.464779
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919,0.465972

In [26]:
grid_temperature = 34
t_31['dT'] = t_31.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI,dT
AgentID,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022,4.606016
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400,4.620025
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134,4.634153
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483,4.647790
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919,4.659719

In [27]:
grid_temperature = 48
t_31['dT'] = t_31.apply(lambda row: compute_cooling(row['dCVI'],T=grid_temperature, species=row['species']), axis=1)
t_31.tail()

,year,species,dbh,height,crownH,crownW,LAI,GPI,CVI,dLAI,dGPI,dCVI,dT
AgentID,,,,,,,,,,,,,
31,46,decidu,49.904146,20.838819,11.759976,10.735481,80.901747,1.182472,95.664082,432.121973,28.441797,583.467022,0.921203
31,47,decidu,50.255590,20.918409,11.791482,10.772873,81.469421,1.180340,96.161584,435.855785,28.210130,587.021400,0.924005
31,48,decidu,50.608610,20.998100,11.822557,10.810027,82.049072,1.178135,96.664875,439.668372,27.970652,590.617134,0.926831
31,49,decidu,50.947728,21.074413,11.851866,10.845337,82.615258,1.175959,97.152155,443.392397,27.734302,594.098483,0.929558
31,50,decidu,51.242808,21.140629,11.876938,10.875758,83.115740,1.174020,97.579541,446.684262,27.523686,597.151919,0.931944